.default-tab .nav-link {
  border: 0;
}
.default-tab .nav-link.active {
  background-color: transparent;
}
.form-check-input:disabled ~ .form-check-label,
.form-check-input[disabled] ~ .form-check-label {
  color: black;
  opacity: 1;
}
.form-check-input:checked {
  background-color: #1ba4ed;
  border-color: #1ba4ed;
  color: white;
}
.form-check-inline .form-check-label.btn-rounded {
  border-radius: 30px;
}
.form-check-inline .form-check-label.active {
  color: #fff;
  background-color: #00558f;
  border-color: #00558f;
}
.form-check-inline li + li {
  padding-left: 10px;
}
.option-setting {
  line-height: 150%;
  padding-left: 0;
}

.price-card {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  border: 0;
}
.tag {
  display: inline-block;
  background-color: #e0e0e0;
  padding: 4px 10px;
  border-radius: 15px;
  margin-right: 6px;
  margin-top: 6px;
}
.price-value {
  font-weight: bold;
  font-size: 1.25rem;
}
.action-icons {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* card */

.price-box {
  background-color: #f8fbfe;
  border-style: dashed !important;
}

.price-box .nav-tabs .nav-link {
  border: none;
  border-bottom: 2px solid transparent;
}

.price-box .nav-tabs .nav-link.active {
  border-color: #0d6efd;
  font-weight: bold;
}

.price-box i.bi {
  font-size: 1.2rem;
  cursor: pointer;
}
.resort-select-display .option-label,
.option-label .form-control {
  font-size: 16px;
  max-width: max-content;
  width: 100%;
  margin-bottom: 0;
}

.resort-select-display .form-select {
  font-size: 14px;
  border: 1px solid #c2c2c2;
  background-color: #f5f5f5;
  color: #666666;
}
/*  */
.insurance-followUp {
  position: relative;
  padding-right: 20px;
  color: #1ba4ed;
  border-bottom: 1px solid #1ba4ed;
  cursor: pointer;
}
.insurance-followUp::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/icon_blue_edit.svg) no-repeat;
  vertical-align: middle;
  background-size: 100%;
}

/*  */

.selectPlaceLine-box {
  box-sizing: border-box;
  padding: 20px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  color: #000000;
  text-align: center;
  font-family: "NotoSansTamil-Bold", sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 700;
  position: relative;
}
.selectPlaceLine {
  margin-top: -1px;
  border-style: solid;
  border-color: #c2c2c2;
  border-width: 1px 0 0 0;
  flex: 1;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
