.owl-carousel.owl-banner .item img {
  position: relative;
  height: 246px;
}
.about-coach-bar {
  z-index: 1;
  position: absolute;
  top: -80px;
}
.coach-content {
  padding-top: 230px;
  padding-bottom: 70px;
}
.introduce {
  align-items: flex-end;
}
.introduce-img img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 3px solid white;
}
.introduce-item {
  margin-left: 50px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}
.introduce-item .name {
  margin-right: 16px;
}
.introduce-item .type span {
  font-size: 14px;
  width: 58px;
  height: 36px;
  background-color: #ebf1f5;
  color: #1ba4ed;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.introduce-item-evaluate {
  font-size: 16px;
  color: #444444;
  margin-top: 8px;
}
.introduce-item-evaluate img {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.introduce-item-title {
  align-items: center;
}
.ability {
  margin-top: 16px;
  padding: 0 8px;
}
.ability-item {
  width: 188px;
  padding: 16px 24px;
}
.ability-border {
  border-left: 1px solid #e3e3e3;
}
.ability-item:first-child {
  padding: 16px 0px;
}
.ability-item:last-child {
  border-right: 0;
  width: auto;
}
.ability-item .value {
  font-size: 20px;
  color: #444444;
  font-weight: 500;
}
.ability-item .title {
  font-size: 14px;
  color: #858585;
  margin-bottom: 8px;
}

.calculation .btn {
  border-radius: 30px;
}
@media (max-width: 991px) {
  .calculation {
    display: none !important;
  }
}
.type-tag {
  border: 1px solid #e3e3e3;
  padding: 24px;
  margin-top: 40px;
  border-radius: 24px;
}
.type-tag-item:first-child {
  padding-bottom: 24px;
  border-bottom: 1px solid #e3e3e3;
}
.type-tag-item .title {
  font-size: 18px;
  color: #7c7c7c;
  font-weight: 500;
}
.type-tag-item:last-child {
  padding-top: 24px;
}
.type-tag-item .tag {
  padding: 16px 0 24px;
  flex-flow: wrap;
}
.type-tag-item .tag span {
  background-color: #f7f7f7;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
  padding: 8px 12px;
  margin: 8px 8px 0 0;
}

.type-tag .description {
  padding: 0;
}
.resort-tag {
  border: 1px solid #e3e3e3;
  padding: 24px;
  margin-top: 40px;
  border-radius: 24px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.resort-tag-item-fixed {
  color: #666666;
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  width: auto !important;
  text-decoration: underline;
}
.resort-tag-item:first-child {
  padding-bottom: 24px;
  border-bottom: 1px solid #e3e3e3;
}
.resort-tag-item:last-child {
  padding-top: 24px;
}
.resort-tag-item .title {
  font-size: 20px;
  color: black;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
}
.resort-tag-item .title a {
  font-size: 14px;
}
.resort-tag-item .tag {
  padding-top: 16px;
  flex-flow: wrap;
}
.resort-tag-item .tag span {
  background-color: #f7f7f7;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
  padding: 8px 12px;
  margin: 8px 8px 0 0;
}
.resort-tag-item .tag span.green {
  background-color: #e5f2f0;
  color: #109084;
}
.resort-tag-item .tag span.blue {
  background-color: #ebf1f5;
  color: #1ba4ed;
}
.resort-tag-item .tag span.yellow {
  background-color: #fcf1e1;
  color: #836942;
}
.resort-tag-item .tag span.purple {
  background-color: #eeecfd;
  color: #5b4fa7;
}
.resort-tag-item .online {
  color: #666666;
  font-size: 16px;
}
.type-mb {
  padding-bottom: 70px;
}
@media (max-width: 991px) {
  .coach-content {
    padding-top: 32px;
  }
  .type-tag-item .title {
    font-size: 16px;
  }
  .about-coach .row {
    flex-flow: column-reverse;
  }
  .introduce {
    align-items: flex-start;
    flex-flow: column;
  }
  .about-coach-bar {
    position: absolute;
    z-index: 1;
    top: -100px;
    left: 0;
    right: 0;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .type-mb {
    padding-top: 260px;
    padding-bottom: 28px;
  }
  .introduce-item {
    margin: 16px 0 24px;
    width: 100%;
    font-size: 24px;
  }
  .introduce-item-title {
    justify-content: space-between;
  }
  .introduce-item-evaluate {
    font-size: 14px;
  }
  .ability-item .title {
    font-size: 12px;
  }
  .ability-item .value {
    font-size: 16px;
  }
  .ability {
    padding: 0 4px;
    margin: 0;
    justify-content: space-between;
  }
  .ability-item {
    padding: 16px;
    width: auto;
  }
  .ability-item:first-child {
    padding: 16px 16px 16px 0;
  }
  .ability-item:last-child {
    padding: 16px 0px 16px 16px;
  }
  .owl-carousel.owl-banner .item img {
    height: 180px;
  }
}

.description-content {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.description-button,
.description-button-nodot {
  display: block;
  margin-top: 12px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}
.description-button i,
.description-button-nodot i {
  margin-left: 4px;
}
.description {
  padding-bottom: 56px;
}
.description-content {
  color: #858585;
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 16px;
}

.certificate {
  padding: 8px 8px 20px 8px∂;
  max-width: 564px;
}
.certificate-item {
  padding: 20px 0;
  border-bottom: 1px solid #e4e6ea;
}
.certificate-item:first-child {
  padding-top: 0;
}
.certificate-item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.certificate-item .thumbnail img {
  width: 60px;
  height: 60px;
}

.certificate-item .type {
  max-width: 330px;
  width: 100%;
  padding: 0 24px;
}

.certificate-item .type li + li {
  margin-top: 8px;
}
.certificate-item .type li:first-child {
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.certificate-item .type li:last-child {
  font-weight: 500;
  font-size: 14px;
}

/* coach-tab */
.coach-tab {
  margin-bottom: 32px;
  border-bottom: 1px solid #e3e3e3;
}

.coach-tab .nav-link {
  position: relative;
  color: #444;
  height: 42px;
  width: 112px;
  padding: 8px 20px 8px 20px;
}
.coach-tab .nav-link.active {
  position: relative;
  color: #1ba4ed;
}
.coach-tab .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2.5px;
  width: 100%;
  background-color: #1ba4ed;
}

/* video */
.owl-carousel .item {
  height: 493px; /* 或是你要統一的高度 */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-carousel {
  max-width: 714px;
  border-radius: 16px;
  overflow: hidden;
}

.owl-carousel .video-dots {
  position: absolute;
  bottom: 20px; /* Adjust bottom positioning */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
}

.video-dots button.owl-dot {
  background: #444; /* Adjust dot styling */
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 5px;
}

.video-dots .owl-dot.active {
  background: #fff; /* Adjust active dot styling */
}

/* Additional styling to ensure dots are above the image */
.owl-carousel .item img {
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

#videoCarouselModal .modal-dialog,
#certificate-modal .modal-dialog {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 638px;
  overflow: hidden;
}
#videoCarouselModal .modal-content,
#certificate-modal .modal-content {
  border-radius: 30px;
}
#videoCarouselModal .modal-body,
#certificate-modal .modal-body {
  padding: 64px 40px 48px;
  min-height: 300px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}
#videoCarouselModal .btn-close,
#certificate-modal .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
#videoCarouselModal .modal-item {
  max-width: 921px;
  max-height: 526px;
}
#certificate-modal img {
  height: auto;
  width: 100%;
  max-width: 921px;
  max-height: 526px;
}
@media (max-width: 1044px) {
  #videoCarouselModal .modal-dialog,
  #certificate-modal .modal-dialog {
    max-width: 840px;
  }
}
@media (max-width: 895px) {
  #videoCarouselModal .modal-dialog,
  #certificate-modal .modal-dialog {
    max-width: 685px;
  }

  #videoCarouselModal .modal-item {
    max-width: 600px;
  }
}
@media (max-width: 755px) {
  #videoCarouselModal .modal-dialog,
  #certificate-modal .modal-dialog {
    max-width: 550px;
  }
  .owl-carousel .item {
    height: 274px;
  }
}
@media (max-width: 600px) {
  #videoCarouselModal .modal-dialog,
  #certificate-modal .modal-dialog {
    max-width: calc(100% - 40px);
    margin: 0 auto;
  }

  #videoCarouselModal .modal-body,
  #certificate-modal .modal-body {
    padding: 40px 20px 24px;
    min-height: auto;
  }

  #videoCarouselModal .btn-close,
  #certificate-modal .btn-close {
    top: 12px;
    right: 15px;
  }
}

/* evaluation */
#evaluation .btn-evaluation-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
}
#evaluation .btn-evaluation-submit::after {
  content: "";
  width: 26px;
  height: 26px;
  margin-left: 4px;
  margin-right: -4px;
  background: url("../images/icon_arrow_right.svg");
}
.student-box {
  padding: 0 0 32px 0;
  border-bottom: 1px solid #e3e3e3;
}
#student-login {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#student-login .avatar,
.evaluation-box .avatar {
  width: 56px;
  height: 56px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
/* start-rate */
#student-login .start-rate {
  margin-left: 12px;
}
.start-rate .star {
  /* display: inline-block; */
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: cover;
}
.star.gray {
  background-image: url("../images/star_gray.svg");
}

.star.gold {
  background-image: url("../images/star_gold.svg");
}

#student-login .input-evaluation {
  color: #666;
  height: 119px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid #c2c2c2;
  background-color: #f5f5f5;
  border-radius: 8px;
}
#student-login .input-evaluation:focus {
  box-shadow: none;
}
#student-login .input-evaluation::placeholder {
  color: #666;
}
#student-login .btn-addImage {
  padding: 12px 20px;
  color: #444;
  border: 1px solid #e3e3e3;
}
#student-login .btn-addImage::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background: url(../images/camera.svg);
  vertical-align: sub;
}

/* evaluation-list  */
.evaluation-list .list-group-item {
  border: none;
  padding: 32px 0;
  border-bottom: 1px solid #c2c2c2;
}
.evaluation-list .username {
  font-size: 16px;
  font-weight: 500;
}
.evaluation-list .date {
  font-size: 14px;
  color: #848484;
}
.evaluation-list .content {
  font-size: 13px;
  color: #848484;
  margin: 16px 0;
  line-height: 20px;
}
.evaluation-more {
  color: #1ba4ed;
  font-size: 14px;
  border: none;
}
.evaluation-more:active {
  border: none;
}
.hidden-content {
  display: none;
}
.ellipsis {
  display: inline;
}

.coach-list {
  margin-left: 56px;
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #c2c2c2;
  border-radius: 0;
}
.coach-list .list-group-item {
  padding: 0;
  border: none;
}
/* pagination */
#pagination {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
#pagination .page-link {
  border: none;
  width: 24px;
  height: 24px;
  color: #666;
  line-height: 24px;
  padding: 0;
  text-align: center;
}
#pagination .page-item.active .page-link {
  font-size: 16px;
  font-weight: 500;
  background-color: #1ba4ed;
  border-radius: 100px;
  color: #fff;
}

#pagination .page-next,
#pagination .page-prev {
  width: 24px;
  height: 24px;
  background: url("../images/page_arrow_right.svg") no-repeat;
}
#pagination .page-prev {
  transform: rotate(180deg);
}

#pagination .disabled .page-prev {
  transform: rotate(0);
  background-image: url("../images/page_arrow_disabled.svg");
}
#pagination .disabled .page-next {
  transform: rotate(180deg);
  background-image: url("../images/page_arrow_disabled.svg");
}

/* calendar */
.calendar-schedule {
  position: relative;
  max-width: 752px;
  border: 1px solid #e3e3e3;
  border-radius: 8.7px;
  padding: 12px 16px 0;
}
#calendar table {
  width: 100%;
  border-collapse: collapse;
}
.calendar-title {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #c2c2c2;
}
.calendar-date {
  font-size: 18px;
  margin-bottom: 6px;
}
#calendar th,
#calendar td {
  width: calc(100% / 7);
  text-align: center;
  padding: 8px;
}
#calendar th {
  line-height: 45px;
}
#calendar tbody tr {
  height: 90px;
}
#calendar tbody tr.more-info {
  height: auto;
}
#calendar .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#calendar .calendar-header button {
  padding: 5px 10px;
}

#prev-month,
#next-month {
  position: absolute;
  top: 12px;
  width: 50px;
  height: 50px;
  min-width: auto;
  border-radius: 50%;
  border: 1px solid #c2c2c2;
  background: url(../images/date_arrow_left.svg) center no-repeat;
}
#prev-month:hover,
#next-month:hover {
  background-color: #ebf1f5;
}
#prev-month {
  left: 24px;
}
#next-month {
  right: 24px;
  transform: rotate(180deg);
  background-position-x: 10px;
}

#calendar table tr.more-info > td {
  padding: 0;
  border: none;
  box-shadow: none;
  height: auto;
}
#calendar .tag {
  width: fit-content;
  background: #eeecfd;
  border-radius: 8px;
  padding: 4px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 88px;
  line-height: 22px;
}
#calendar .more-info-content {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 16px 16px;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  background-color: #fcfcfc;
}
#calendar .more-info-content .tag {
  margin: 0;
  margin-bottom: 8px;
  padding: 8px 4px;
  max-width: none;
  cursor: pointer;
}
#calendar .more-td {
  cursor: pointer;
}
#calendar .more-btn {
  color: #8d8888;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  text-decoration: auto;
  padding: 0;
  margin-top: 4px;
  cursor: pointer;
}
#calendar .before-day {
  color: #8d8888;
  pointer-events: none;
  background-color: transparent;
}
#calendar .before-day .tag {
  color: #c2c2c2 !important;
  background-color: rgba(194, 194, 194, 0.1) !important;
}
#calendar .before-day .more-btn {
  color: #c2c2c2;
}
#calendar .active-day {
  position: relative;
}
#calendar .active-day::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1.5px solid #444;
  border-radius: 8px;
  pointer-events: none;
}
#calendar .active-day::after {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 20px;
  left: 50%;
  margin-left: -10px;
  background: url("../images/more.svg") no-repeat;
}

@media (max-width: 767px) {
  .calendar-schedule {
    padding: 12px 8px 0;
  }
  #calendar th,
  #calendar td {
    padding: 8px 2px;
  }
  #calendar .tag {
    max-width: 72px;
  }
  #calendar .more-info-content .tag {
    font-size: 18px;
  }
  #calendar tbody tr {
    height: auto;
  }
  #calendar table thead tr:last-child th {
    height: 34px;
    line-height: 34px;
  }
}
@media (max-width: 475px) {
  #calendar th.calendar-title {
    font-size: 18px;
    line-height: 27px;
    height: 26px;
  }
  #calendar th,
  #calendar td {
    font-size: 10px;
    width: 48px;
    height: 67px;
  }
  #calendar .tag {
    max-width: 48px;
    line-height: 10px;
  }
  #prev-month,
  #next-month {
    top: 3px;
  }
  #prev-month {
    left: -2px;
    transform: scale(0.6);
  }
  #next-month {
    right: -2px;
    transform: scale(0.6) rotate(180deg);
  }
  .calendar-date {
    font-size: 13px;
  }
  #calendar .more-btn {
    font-size: 10px;
  }
}
@media (max-width: 342px) {
  #calendar .tag {
    max-width: 30px;
  }
}

/* header */
.banner {
  padding-top: 80px;
}
@media (max-width: 991px) {
  .banner {
    padding-top: 62.5px;
  }
}
/* footer */
.footer-pc {
  position: initial;
}

.footer-mb {
  top: initial;
}
/*  */
.fixed-tab {
  display: none;
  position: fixed;
  z-index: 100;
  top: 80px;
}
.fixed-tab .container {
  position: relative;
}
.fixed-tab .fixed-calculation-link {
  display: none;
}
.fixed-tab .coach-tab {
  position: absolute;
  left: 11px;
  bottom: 0;
}
@media (min-width: 992px) {
  .fixed-tab .fixed-calculation-link {
    position: absolute;
    right: 8px;
    bottom: 6px;
  }
  .fixed-tab .fixed-calculation-link,
  #calculation-link {
    display: flex;
    width: 146px;
    border-radius: 30px;
    height: 50px;
  }
}

.sticky {
  display: flex;
  align-items: flex-end;
  background-color: white;
  position: sticky;
  top: 79px;
  z-index: 3;
  top: 80px;
  width: 100%;
  height: 66px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding-left: 1px;
}

.sticky .coach-tab {
  margin: 0;
  border-bottom: 0;
}

@media (max-width: 991px) {
  .fixed-tab {
    top: 61px;
  }
  .sticky {
    height: 56px;
  }
}

/*  */
.fixed-footer-bar {
  display: none;
}

.layout {
  height: 100px;
}

.fixed-footer-bar button {
  width: 146px;
  border-radius: 30px;
  height: 50px;
}

@media (max-width: 991px) {
  .fixed-footer-bar {
    display: block;
    background-color: white;
    border-radius: 12px 12px 0 0;
    height: 100px;
    z-index: 4;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -5px 7px 0px #00000033;
  }
}

.tab-opacticy {
  opacity: 0;
}

nav {
  position: relative;
  z-index: -1;
}
.form-control {
  border: 1px solid #c2c2c2;
  background-color: #f5f5f5;
  font-size: 14px;
  min-height: 44px;
}
.label-orderId {
  min-width: 64px;
}

.input-orderId {
  max-width: 280px;
  width: 100%;
}
