.default-tab .nav-link{
  border: 0;
}
.default-tab .nav-link.active{
  background-color: transparent;
}
.form-check-input:disabled~.form-check-label, .form-check-input[disabled]~.form-check-label{
  color: black;
  opacity:1;
}
.form-check-input:checked {
  background-color: #1BA4ED;
  border-color: #1BA4ED;
  color: white;
}
.form-check-inline .form-check-label.btn-rounded {
  border-radius: 30px;
}
.form-check-inline .form-check-label.active {
  color: #fff;
  background-color: #00558f;
  border-color: #00558f;
}
.form-check-inline li+li{
  padding-left: 10px;
}
.form-check-inline{
  border: 0;
}
.option-setting{
  line-height: 150%;
  padding-left: 0;
}

.price-card {
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    border: 0;
}
.tag {
  display: inline-block;
  background-color: #e0e0e0;
  padding: 4px 10px;
  border-radius: 15px;
  margin-right: 6px;
  margin-top: 6px;
}
.price-value {
  font-weight: bold;
  font-size: 1.25rem;
}
.action-icons {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* card */

.price-box {
  background-color: #FFFFFF;
  border-style: dashed !important;
  border-radius: 16px;
}

#seasonTabs .nav-item{
  width: 100%;
  
}
.price-box .nav-tabs .nav-link,
#seasonTabs .nav-link
 {
   flex-flow: row;
   display: flex;
   justify-content: center;
  width: 100%;
  border: 0;
  border-bottom: 2px solid transparent;
  color:#444444;
  font-size: 18px;
  font-weight: bold;

}

.price-box .nav-tabs .nav-link.active,
#seasonTabs .nav-link.active {
  border-color: #0F8ABD;
  color:  #0F8ABD

}

.price-box i.bi {
  font-size: 1.2rem;
  cursor: pointer;
}

#priceModal input[type="number"]::-webkit-inner-spin-button,
#priceModal input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* 彈窗樣式 */
.price-input {
  font-size: 24px;
  font-weight: 600;
  border-radius: 8px;
  border-color: #C2C2C2;
  max-width: 100px; 
  font-weight: bold
}

.adjust-btn {
  font-size: 1.2rem;
  width: 26px;
  height: 26px;
  border-color: #D9D9D9;
  color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adjust-btn:hover{
  border-color: #212529;
}

.lesson{
  font-weight: 600;
  color: #444444;
  font-size: 20px;
}
#priceModal .modal-body{
  padding: 20px;
}

@media (max-height: 610px){
  #priceModal .tab-content {
    overflow-y: scroll;
    height: 216px;
  }
}

/*  */

/* 按鈕樣式 */
.add-set-btn{
  padding-left: 16px;
  padding-right: 16px;
}

.add-set-btn .btn-icon{
  font-size: 17px;
  color: white;
}
.set-btn {
  font-size: 18px;
  width: 146px;
  height: 50px;
  font-weight: bold;
  border-color:#C2C2C2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.set-btn:hover {
  background-color: #C2C2C2;
  color: white;
}
.check-add {
  height: 50px;
  width: 128px;
}
@media (max-width:610px) {
  .form-check-inline{
    /* display: flex; */
    justify-content: center;
    padding-bottom: 20px;
  }
}





.resort-select-display .option-label,
.option-label .form-control{
  font-size: 16px;
  max-width: max-content;
  width: 100%;
  margin-bottom: 0;
}

.resort-select-display .form-select {
  font-size: 14px;
  border: 1px solid #C2C2C2;
  background-color: #F5F5F5;
  color: #666666;
}
/*  */
.insurance-followUp {
  position: relative;
  padding-right: 20px;
  color: #1ba4ed;
  /* border-bottom: 1px solid #1ba4ed; */
  cursor: pointer;
  margin-left: 8px;
}
.insurance-followUp::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/icon_blue_edit.svg) no-repeat;
  vertical-align: middle;
  background-size: 100%;
}
.bi {
  color: #F58888;
}
/*  */

.selectPlaceLine-box {
  box-sizing: border-box;
  padding: 20px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.selectPlaceLine {
  margin-top: -1px;
  border-style: solid;
  border-color: #c2c2c2;
  border-width: 1px 0 0 0;
  flex: 1;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  margin-left: 10px;
}
.selectPlaceTitle{
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;

}

.collapseSelectPlace-item .btn {
  position: relative;
  /* min-width: 132px; */
  padding: 0;
  line-height: 50px;
  border-radius: 30px;
  color: #666;
  border: 1px solid #c2c2c2;
  box-shadow: none;
  background-color: #fff;
}
.btn-check:checked+.btn,
.btn-check {
  color: white;
  background-color: #00558F;
  border-color: #00558F;
}
.collapseSelectPlace-item .btn:hover {
  border-color: #00558F;
}

.collapseSelectPlace-item .btn:hover::before,
.collapseSelectPlace-item .btn-check:checked+.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #00558F;
  border-radius: 30px;
}

#resortSelectorModal .modal-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 6px;
  right: 6px;
  height: 20px;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 30px 30px 0 0;
}
#resortSelectorModal .modal-body {
    border-radius: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 584px;
    padding: 30px;
}



/* // */

.custom-tabs {
  border-bottom: 1px solid #E3E3E3;
  display: flex;
    width: 100%;
    flex-flow: nowrap;
}

.custom-tabs .nav-link {
  border: none;
  border-radius: 0;
  font-weight: 500;
  color: #444;
  padding: 10px 20px;
  background-color: #fff;
  margin-right: 2px;
  width: 100%;
  font-size: 18px;
}

.custom-tabs .nav-item{
  width: 100%;
}

.custom-tabs .nav-link.active {
  background-color: white;
  border-bottom: 2px solid #1BA4ED; /* 藍色底線 */
  color: #1BA4ED;
  font-weight: 600;
}

.custom-tabs .nav-link:focus {
  box-shadow: none;
}

.alert{
  height: auto;
  color: #0f80bd;
  line-height: 35px;
  background-color: rgba(27, 164, 237, 0.1);
  border-radius: 4px;
  padding: 12px;
}

.confirmBtn{
  height: 50px;
  font-size: 18px;
  width: 125px;
}

.btn-add-resort{
  font-size: 14px;
  border-color: #E5E5E5;
  border-radius: 8px;
  height: 36px;
}

.lesson-wrapper{
  padding: 12px 16px;
}
.lesson-title{
  color: #666;
  font-size: 16px;
  margin-bottom: 12px;
  min-width: 70px;
  text-align: left;
}

.lesson-amount{
  color: #040404;
  font-size: 20px;
  font-weight: 500;
  min-width: 70px;
  text-align: left;
}

@media (max-width:610px){
  .lesson-amount{
      margin-bottom: 20px;
    }
    .btn-warpper{
    flex-flow: wrap;
  }
  
  .helf-full-btn,.add-set-btn {
    width: 100%;
  }
  .btn-warpper{
    flex-flow: wrap;
  }
}


/* 通用 badge 外觀 */
.custom-resort-badge {
  display: inline-flex;
  align-items: center;
  border-radius: 1.5rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  margin-right: 0.25rem;
  position: relative;
}

/* 白色圓形關閉按鈕包裝 */
.custom-resort-badge .badge-close {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  cursor: pointer;
}

/* 雪場文字 */
.custom-resort-badge .badge-label {
  margin-left: 2px;
}

.badge-hokkaido { background-color: #eeecfd;
  color: #5b4fa7;}
.badge-tohoku { background-color: #ebf1f5;
  color: #1ba4ed;}
.badge-niigata { background-color: #fcf1e1;
  color: #836942; }
.badge-nagano {     background-color: #e5f2f0;
  color: #109084;}

.badge-close {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  cursor: pointer;
  color: #000;
}
.badge{
  display: inline-flex;
  align-items: center;
  height: 27px;
}