.owl-carousel.owl-banner .item img {
  position: relative;
  height: 246px;
}
.about-coach-pc {
  z-index: 1;
  position: absolute;
  top: -80px;
}
.test {
  padding-top: 230px;
}
.introduce {
  align-items: flex-end;
}
.introduce-img img{
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 3px solid white;
}
.introduce-item {
  margin-left: 50px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}
.introduce-item .name{
  margin-right: 16px;
}
.introduce-item .type span{
  font-size: 14px;
  width: 58px;
  height: 36px;
  background-color: #EBF1F5;
  color: #1BA4ED;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.introduce-item-evaluate {
  font-size: 16px;
  color: #444444;
  margin-top: 8px;
}
.introduce-item-evaluate img {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.introduce-item-title {
  align-items: center;
}
.ability {
  margin-top: 16px;
  padding: 0 8px;
}
.ability-item {
  width: 188px;
  padding: 16px 24px ;
}
.ability-border {
  border-left: 1px solid #E3E3E3;
}
.ability-item:first-child {
  padding: 16px 0px ;
}
.ability-item:last-child {
  border-right:0;
  width: auto;  
}
.ability-item .value {
  font-size: 20px;
  color: #444444;
  font-weight: 500;
}
.ability-item .title {
  font-size: 14px;
  color: #858585;
  margin-bottom: 8px;
}

.about-coach-mb {
  padding-bottom: 70px;
}

.type-tag {
  border: 1px solid #E3E3E3;
  padding: 24px;
  margin-top: 40px;
  border-radius:24px ;
}
.type-tag-item:first-child {
  padding-bottom: 24px;
  border-bottom: 1px solid #E3E3E3;
}
.type-tag-item .title {
  font-size: 18px;
  color: #7C7C7C;
  font-weight: 500;
} 
.type-tag-item:last-child {
  padding-top:24px;
}
.type-tag-item .tag {
  padding-top: 16px;
  flex-flow: wrap;
}
.type-tag-item .tag span{
  background-color: #F7F7F7;
  border: 1px solid #E3E3E3;
  border-radius: 16px;
  padding: 8px 12px;
  margin: 8px 8px 0 0;
}

.resort-tag {
  border: 1px solid #E3E3E3;
  padding: 24px;
  margin-top: 40px;
  border-radius:24px ;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

}
.resort-tag-item:first-child {
  padding-bottom: 24px;
  border-bottom: 1px solid #E3E3E3;
}
.resort-tag-item:last-child {
  padding-top:24px;
}
.resort-tag-item .title {
  font-size: 20px;
  color: black;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
} 
.resort-tag-item .title a{
  font-size: 14px;
} 
.resort-tag-item .tag {
  padding-top: 16px;
  flex-flow: wrap;
}
.resort-tag-item .tag span{
  background-color: #F7F7F7;
  border: 1px solid #E3E3E3;
  border-radius: 16px;
  padding: 8px 12px;
  margin: 8px 8px 0 0;
}
.resort-tag-item .online {
  color: #666666;
  font-size: 16px;
}
.resort-tag-item .btn {
  border-radius: 30px;
}
@media (max-width:991px) {
  .resort-tag {
    display: none;
  }
  .test {
    padding-top: 32px;
  }
  .type-tag-item .title {
    font-size: 16px;
  }
  .about-coach-mb .row {
    flex-flow: column-reverse;
  }
  .introduce {
    align-items: flex-start;
    flex-flow: column;
  }
  .about-coach-pc {
    position: initial;
  }
  .about-coach-mb {
    top: -100px;
    position: relative;
    z-index: 1;
  }
  .introduce-item {
    margin: 16px 0 24px;
    width: 100%;
    font-size: 24px;
  }
  .introduce-item-title {
    justify-content: space-between;
    
  }
  .introduce-item-evaluate {
    font-size: 14px;
  }
  .ability-item .title {
    font-size: 12px;
  }
  .ability-item .value {
    font-size: 16px;
  }
  .ability {
    padding: 0 4px;
    margin: 0;
    justify-content: space-between;
  }
  .ability-item {
    padding: 16px;
    width: auto;
  }
  .ability-item:first-child {
    padding: 16px 16px 16px 0;
  }
  .ability-item:last-child {
    padding: 16px 0px 16px 16px;
  }
  .owl-carousel.owl-banner .item img {
    height: 180px;
  }
}
/*  */
.introduction {
  color: #858585;
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 32px;
  border-bottom: 1px solid;
}
/* coach-tab */
.coach-tab {
  margin-bottom: 32px;
  border-bottom: 1px solid #E3E3E3;
}

.coach-tab .nav-link {
  position: relative;
  color: #444;
  height: 42px;
  width: 112px;
  padding: 8px 20px 8px 20px;
}
.coach-tab .nav-link.active {
  position: relative;
  color: #1ba4ed;
}
.coach-tab .nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2.5px;
  width: 100%;
  background-color: #1ba4ed;
}

/* video */
.owl-carousel .item {
  position: relative;
}

.video-carousel {
  max-width: 714px;
  max-height: 493px;
  border-radius: 16px;
  overflow: hidden;
}

.owl-carousel .video-dots {
  position: absolute;
  bottom: 20px; /* Adjust bottom positioning */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
}

.video-dots button.owl-dot {
  background: #444; /* Adjust dot styling */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.video-dots .owl-dot.active {
  background: #fff; /* Adjust active dot styling */
}

/* Additional styling to ensure dots are above the image */
.owl-carousel .item img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

#videoCarouselModal .modal-dialog {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 638px;
  overflow: hidden;
}
#videoCarouselModal .modal-body {
  padding: 64px 40px 48px;
  min-height: 300px;
}
#videoCarouselModal .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
/* evaluation */
#evaluation .btn-lg {
  padding: 12px 24px;
}
.student-box {
  padding: 32px 0;
  border-bottom: 1px solid #e3e3e3;
}
#student-login {
  display: flex;
  flex-direction: column;
  gap: 16px
}

#student-login .avatar {
  width: 56px;
  height: 56px;
  background-color: #D9D9D9;
  border-radius: 50%;
}
/* start-rate */
.start-rate {
  margin-left: 12px;
}
.start-rate .star {
  /* display: inline-block; */
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: cover;
}
.star.gray {
  background-image: url('../images/star_gray.svg');
}

.star.gold {
  background-image: url('../images/star_gold.svg');
}

#student-login .input-evaluation {
  color: #666;
  height: 119px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid #c2c2c2;
  background-color: #f5f5f5;
  border-radius: 8px;
}
#student-login .input-evaluation:focus {
  box-shadow: none;
}
#student-login .input-evaluation::placeholder {
  color: #666;
}
#student-login  .btn-addImage {
  padding: 12px 20px;
  color: #444;
  border: 1px solid #c2c2c2;
}
#student-login  .btn-addImage::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background: url(../images/camera.svg);
  vertical-align: sub;
}

/* calendar */
.calendar-schedule {
  position: relative;
  max-width: 752px;
  border: 1px solid #e3e3e3;
  border-radius: 8.7px;
  padding: 12px 16px 0;
}
#calendar table {
    width: 100%;
    border-collapse: collapse;
  }
.calendar-title {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #c2c2c2;
}
.calendar-date {
  margin-bottom: 6px;
}
#calendar th,
#calendar td {
  width: calc(100% / 7);
  text-align: center;
  padding: 8px;
}
#calendar th {
  line-height: 45px;
}
#calendar tbody tr {
  height: 90px;
}
#calendar tbody tr.more-info {
  height: auto;
}
#calendar .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#calendar .calendar-header button {
  padding: 5px 10px;
}

#prev-month, #next-month {
  position: absolute;
  top: 12px;
  width: 50px;
  height: 50px;
  min-width: auto;
  border-radius: 50%;
  border: 1px solid #c2c2c2;
  background: url(../images/date_arrow_left.svg) center no-repeat;
}
#prev-month:hover,
#next-month:hover{
    background-color: #ebf1f5;
}
#prev-month{
    left: 24px;
}
#next-month  {
    right: 24px;
    transform: rotate(180deg);
}

#calendar table tr.more-info > td {
  padding: 0;
  border: none;
  box-shadow: none;
}
#calendar .tag {
  width: fit-content;
  background: #eeecfd;
  border-radius: 8px;
  padding: 4px;
  display: block;
  margin: 0 auto;
}
#calendar .more-info-content {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 0;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
}
#calendar .more-info-content .tag {
  margin: 0;
  margin-bottom: 12px;

}
#calendar .more-btn {
  color: #8d8888;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  text-decoration: auto;
}
#calendar .before-day {
  color: #8d8888;
  pointer-events: none;
  background-color: transparent;
}
#calendar .before-day .tag {
  color: #c2c2c2 !important;
  background-color: rgba(194, 194, 194, 0.1) !important;
}
#calendar .before-day .more-btn {
  color: #c2c2c2;
}
#calendar .active-day {
  position: relative;
}
#calendar .active-day::before {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1.5px solid #444;
  border-radius: 8px;
  pointer-events: none;
}
#calendar .active-day::after {
  content: '';
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 20px;
  left: 50%;
  margin-left: -10px;
  background: url('../images/more.svg') no-repeat;
}

/* file-upload-image */
.file-caption {
  display: none; /* Hide the file-caption element */
}
.kv-main {
  padding: 0;
}
#fileUploadModal .modal-dialog {
  max-width: 560px;
  width: 100vw;
}
#fileUploadModal .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
#fileUploadModal .modal-body {
  max-width: 560px;
  width: 100%;
  padding: 56px 40px 40px;
}
#fileUploadModal .file-preview .fileinput-remove {
  display: none; /* Hide the remove button */
}
#fileUploadModal .file-preview {
  border: none;
  padding: 0;
  margin-bottom: 24px;
}
#fileUploadModal .file-drop-zone {
  margin: 0;
  padding: 24px 19px;
  min-height: auto;
  max-width: 480px;
  width: 100vw;
}
#fileUploadModal .file-preview-thumbnails {
  cursor: default;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
#fileUploadModal .file-drop-zone-title {
  color: #666;
  font-size: 18px;
  padding: 24px 118px;
}
#fileUploadModal .file-drop-zone-title::before {
  content: '';
  display: block;
  height: 64px;
  width: 64px;
  margin: 0 auto 8px;
  background-image: url('../images/cloud_upload.svg');
}
#fileUploadModal .kv-file-rotate,
#fileUploadModal .kv-file-upload,
#fileUploadModal .file-footer-caption,
#fileUploadModal .file-upload-indicator {
  display: none; /* Hide the rotate button */
}

.krajee-default.file-preview-frame {
  padding: 0;
  margin: 0;
  box-shadow: none;
  height: 212px;
  width: 216px;
  border-radius: 12px;
  overflow: hidden;
}
.krajee-default.file-preview-frame .kv-file-content {
  height: 212px;
  width: 216px;
}
.krajee-default.file-preview-frame .kv-file-content img {
  width: 100% !important;
  height: 100% !important;
}
#fileUploadModal .file-footer-buttons button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#fileUploadModal .file-footer-buttons button:hover {
  background-color: #c2c2c2;
}
#fileUploadModal .file-footer-buttons button.kv-file-remove {
  right: 60px;
}

.kv-file-remove,
.kv-file-zoom {
  background: #ffffff;
  border-radius: 114.29px;
  padding: 4px 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  position: relative;
  box-shadow: 0px 0px 9.14px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border: none;
}
.kv-file-remove::before {
  content: url('../images/delete.svg');
}
.kv-file-zoom::before {
  content: url('../images/zoomIn.svg');
}
#fileUploadModal .krajee-default.file-preview-frame .file-thumbnail-footer {
  height: auto;
}
#fileUploadModal .btn-submit {
  line-height: 32px;
}

#kvFileinputModal h6 {
  display: none;
}
#kvFileinputModal .modal-dialog {
  max-width: 1001px;
}
#kvFileinputModal .modal-dialog img {
  border-radius: 16px;
}
.file-zoom-dialog .modal-header {
  min-height: 64px;
}
.file-zoom-dialog .kv-zoom-body {
  padding: 0 40px 48px;
}
.kv-zoom-actions {
  position: absolute;
  top: 20px;
  right: 20px;
  min-width: auto;
}
.kv-zoom-actions button,
.rotatable:not(.hide-rotate) .btn-kv-rotate {
  display: none;
}
.kv-zoom-actions .btn-kv-close {
  display: block;
}
#fileUploadModal .kv-upload-progress {
  display: none !important;
}
#fileUploadModal .kv-fileinput-error .btn-close {
  position: unset;
}
/* footer */
.footer-pc {
    position: initial;
}

.footer-mb{
  top: initial;
}