/* file-upload-image */
.file-caption {
  display: none; /* Hide the file-caption element */
}
.kv-main {
  padding: 0;
}
#fileUploadModal .modal-dialog {
  max-width: 560px;
  width: 100vw;
}
#fileUploadModal .modal-content {
  border-radius: 20px;
}
#fileUploadModal .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url("../images/modal_cross.svg");
  opacity: 1;
  box-shadow: none;
}
#fileUploadModal .btn-close:hover {
  opacity: 0.8;
}
#fileUploadModal .modal-body {
  max-width: 560px;
  width: 100%;
  padding: 56px 40px 40px;
}
#fileUploadModal .file-preview .fileinput-remove {
  display: none; /* Hide the remove button */
}
#fileUploadModal .file-preview {
  border: none;
  padding: 0;
  margin-bottom: 24px;
}
#fileUploadModal .file-drop-zone {
  margin: 0;
  padding: 24px 19px;
  min-height: auto;
  max-width: 480px;
  width: 100vw;
}
#fileUploadModal .file-preview-thumbnails {
  cursor: default;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
#fileUploadModal .file-drop-zone-title {
  color: #666;
  font-size: 18px;
  padding: 0;
  font-weight: 500;
}
#fileUploadModal .file-drop-zone-title::before,
.file-drop-zone-title::before {
  content: "";
  display: block;
  height: 64px;
  width: 64px;
  margin: 0 auto 8px;
  background-image: url("../images/cloud_upload.svg");
}
#fileUploadModal .file-drop-zone-title::after {
  content: "或點擊此處選擇照片";
  display: block;
  margin-top: 4px;
}
#fileUploadModal .kv-file-rotate,
#fileUploadModal .kv-file-upload,
#fileUploadModal .file-footer-caption,
#fileUploadModal .file-upload-indicator {
  display: none; /* Hide the rotate button */
}

.krajee-default.file-preview-frame {
  padding: 0;
  margin: 0;
  box-shadow: none;
  height: 212px;
  width: 216px;
  border-radius: 12px;
  overflow: hidden;
}
.krajee-default.file-preview-frame .kv-file-content {
  height: 212px;
  width: 216px;
}
.krajee-default.file-preview-frame .kv-file-content img {
  width: 100% !important;
  height: 100% !important;
}
#fileUploadModal .file-footer-buttons button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#fileUploadModal .file-footer-buttons button:hover,
.upload-image-box button:hover {
  background-color: #c2c2c2;
}
#fileUploadModal .file-footer-buttons button.kv-file-remove {
  right: 60px;
}

.btn-remove,
.btn-zoomIn,
.kv-file-remove,
.kv-file-zoom {
  background: #ffffff;
  border-radius: 114.29px;
  padding: 4px 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  position: relative;
  box-shadow: 0px 0px 9.14px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border: none;
}
.btn-remove,
.btn-zoomIn {
  width: 28px;
  height: 28px;
}
.upload-image-box {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.btn-container {
  position: absolute;
  display: flex;
  gap: 4px;
  right: 4px;
  bottom: 8px;
}
.btn-remove::before,
.btn-zoomIn::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 16px;
  height: 16px;
  background: url("../images/delete.svg") no-repeat;
  background-size: 100%;
}
.btn-zoomIn::before {
  background-image: url("../images/zoomIn.svg");
}

.kv-file-remove::before {
  content: url("../images/delete.svg");
}

.kv-file-zoom::before {
  content: url("../images/zoomIn.svg");
}
#fileUploadModal .krajee-default.file-preview-frame .file-thumbnail-footer {
  height: auto;
}
#fileUploadModal .btn-submit {
  line-height: 32px;
}

#kvFileinputModal h6 {
  display: none;
}
#kvFileinputModal .modal-dialog {
  max-width: 1001px;
}
#kvFileinputModal .modal-dialog img {
  border-radius: 16px;
}
.file-zoom-dialog .modal-header {
  min-height: 64px;
}
.file-zoom-dialog .kv-zoom-body {
  padding: 0 40px 48px;
}
.kv-zoom-actions {
  position: absolute;
  top: 20px;
  right: 20px;
  min-width: auto;
}
.kv-zoom-actions button,
.rotatable:not(.hide-rotate) .btn-kv-rotate {
  display: none;
}
.kv-zoom-actions .btn-kv-close {
  display: block;
}
#fileUploadModal .kv-upload-progress {
  display: none !important;
}
#fileUploadModal .kv-fileinput-error .btn-close {
  position: unset;
}
.kv-zoom-actions .btn-kv-close {
  height: 16px;
  width: 16px;
  padding: 0;
  border: none;
  background-size: 100%;
  background-image: url("../images/modal_cross.svg");
}
.kv-zoom-actions .btn-kv-close:hover {
  background-color: transparent;
  opacity: 0.8;
}
.kv-zoom-actions .btn-kv-close i {
  display: none;
}
#kvFileinputModal .btn-kv-prev,
#kvFileinputModal .btn-kv-next {
  display: none !important;
}

#fileUploadModal .file-drop-zone {
  border: 1.3px dashed transparent;
  background: linear-gradient(#fff, #fff) padding-box,
    repeating-linear-gradient(
      -45deg,
      #c2c2c2 0,
      #c2c2c2 0.25em,
      #fff 0,
      #fff 0.75em
    );
}

.file-zoom-fullscreen .modal-content {
  min-height: auto;
  height: 500px;
  max-width: 1001px;
  margin: 0 auto;
  border-radius: 20px;
}
@media (max-width: 1024px) {
  .file-zoom-fullscreen .modal-content {
    max-width: none;
    margin: 0 20px;
  }
}
@media (max-width: 767px) {
  #fileUploadModal .file-drop-zone {
    width: 100%;
  }
  #fileUploadModal .file-preview-thumbnails {
    flex-direction: row;
  }
  .krajee-default.file-preview-frame,
  .krajee-default.file-preview-frame .kv-file-content {
    height: 114px;
    width: 114px;
  }
}

@media (max-width: 575px) {
  #fileUploadModal .modal-dialog {
    max-width: none;
    margin: 0;
  }
  #fileUploadModal .modal-content {
    margin: 0 20px;
  }
  #fileUploadModal .file-preview-thumbnails {
    gap: 5px;
  }
  .coach-tab .nav-link {
    padding: 8px 10px;
    width: 100px;
  }
}
@media (max-width: 520px) {
  .file-zoom-dialog .modal-header {
    height: 45px;
  }
  #fileUploadModal .file-preview-thumbnails {
    justify-content: start;
    gap: 2px;
  }
}
@media (max-width: 425px) {
  .file-zoom-dialog .kv-zoom-body {
    padding: 0 20px 20px;
  }
}
