.introduce-item {
  margin-left: 0;
  margin-top: 32px;
}
.introduce-item-evaluate a:hover {
  color: #1ba4ed;
  text-decoration: none;
}

.place-type {
  color: #5b4fa7;
  background-color: #eeecfd;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  padding: 4px;
  line-height: 23px;
}

.calculation {
  margin-top: 32px;
}

.introduce-detail {
  width: 100%;
  gap: 20px;
  font-size: 20px;
  color: #444444;
}
.introduce-detail .title {
  color: #858585;
  font-size: 14px;
  margin-bottom: 8px;
}
.introduce-detail-item {
  flex: auto;
  max-width: 258px;
  padding: 16px 0;
}
.introduce-detail-item + .introduce-detail-item {
  border-left: 1px solid #e3e3e3;
  padding-left: 24px;
}
.introduce-detail-item:last-child {
  padding-right: 24px;
}
@media (max-width: 575px) {
  .introduce-detail {
    font-size: 14px;
    gap: 10px;
  }
  .introduce-detail-item + .introduce-detail-item {
    padding-left: 12px;
  }
  .introduce-detail-item:last-child {
    padding-right: 12px;
  }
}

.skiResort-introduce {
  margin-top: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  padding: 32px 24px;
}
.skiResort-introduce ul {
  list-style-type: none;
  flex: 1;
  font-size: 16px;
  color: #000;
  gap: 8px;
}
.skiResort-introduce .title {
  min-width: 96px;
  color: #666666;
}

.skiResort-level {
  color: #666;
}
.skiResort-level::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c2c2c2;
  margin: 16px 0;
}
.skiResort-level span {
  font-size: 13px;
  line-height: 19px;
}
.level-dots li {
  color: #666666;
}
.level-dots li::before {
  content: "●";
  display: inline-block;
  color: #1ba4ed;
  font-weight: 900;
}
.level-dots li.middle:before {
  color: #edbf1b;
}
.level-dots li.senior:before {
  color: #f29559;
}
.level-percentage {
  color: #000;
  height: 31px;
  margin-top: 16px;
}
@media (max-width: 992px) {
  .skiResort-introduce {
    padding: 24px;
  }
  .level-percentage {
    margin-top: 0;
  }
  .skiResort-introduce .title {
    min-width: 80px;
  }
}
.level-percentage div {
  padding: 0 16px;
  border-radius: 6px;
  line-height: 31px;
}
.level-percentage .junior {
  background: #1ba4ed;
}
.level-percentage .middle {
  background: #edbf1b;
}
.level-percentage .senior {
  background: #f29559;
}

.coach-content {
  padding-top: 0;
  margin-top: 60px;
}
@media (max-width: 992px) {
  .coach-content {
    margin-top: 0;
  }
}
.coach-tab {
  /* 使用 flexbox 排列 */
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
}
.coach-tab .nav-link {
  min-width: 112px;
}
.fixed-tab .coach-tab {
  position: static;
}
@media (max-width: 992px) {
  #tab2 .nav-link {
    min-width: auto;
    width: auto;
    padding: 8px 12px;
  }
}
@media (max-width: 768px) {
  .coach-tab .nav-link {
    min-width: 100px;
  }
  #tab2 .nav-link {
    min-width: 112px;
    width: auto;
    padding: 8px 12px;
  }
}

.skiResort-map #map {
  width: 100%;
  max-width: 418px;
  height: 181px;
  margin-top: 16px;
  border: 1px solid #e3e3e3;
  border-radius: 24px;
}
@media (max-width: 991px) {
  .skiResort-map #map {
    max-width: none;
  }
}
img[alt="Google"],
[rel="noopener"],
.gmnoprint,
.gm-control-active.gm-fullscreen-control {
  display: none;
}

.type-tag {
  margin-top: 16px;
}
.type-tag .type-tag-item {
  padding: 0;
  border: none;
}
.type-tag-item .tag {
  padding-bottom: 0;
}

.article-box {
  position: relative;
  margin-top: 16px;
}
.article-box h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
}

/* carousel */
.article-box .owl-carousel .owl-stage-outer {
  padding: 8px 0;
}

.owl-carousel-article .owl-nav {
  position: absolute;
  top: -56px;
  right: 0;
  margin-top: 0;
}
.owl-nav button + button {
  margin-left: 12px;
}
.article-prev,
.article-next {
  width: 32px;
  height: 32px;
  padding: 0;
  border: 1px solid #c2c2c2;
  border-radius: 50%;
  background-color: #fff;
  background: url(../images/arrow_left.svg) no-repeat center;
  cursor: pointer;
}
.article-prev:hover,
.article-next:hover {
  background-color: #ebf1f5;
}

.article-prev {
  transform: rotate(180deg);
}

.carousel-item {
  display: block;
  text-align: center;
}
.card-strategy {
  position: relative;
  display: inline-block;
}
.strategy-title {
  position: absolute;
  bottom: 0;
  padding: 16px 12px;
}
.strategy-title p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 22px;
  text-align: left;
}
@media (max-width: 768px) {
  .strategy-title p {
    font-size: 16px;
  }
}

.strategy-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #444444;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: "NotoSansTc-Medium", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  line-height: 30px;
  padding: 0 23px;
}
.carousel-item a {
  display: block;
}
.carousel-item a:hover .card-strategy {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

@media (max-width: 991px) {
  .type-mb {
    padding-top: 0;
  }
}

.float-bar {
  z-index: 5;
}
@media (max-width: 991px) {
  .float-bar {
    bottom: 110px;
  }
}
